@import "/src/assets/Colors.scss";
@import "/src/assets/Fonts.scss";


#root {
  max-width: 1900px;
  margin: 0 auto;
  text-align: center;
  font-family: $main-font;
  color: #3C3C3C;
}
.home {
  position: relative;
  height: 963px;
  overflow: hidden;
  margin: 0 auto;
}

.home-background {
  background: url('/src/assets/Home-Hero-Image.jpg') no-repeat;
  background-size: auto 100%;
  height: 963px;
  width: 2241px;
  position: absolute;
  left: -483px;
  background-position: left center;
  z-index: -1;
}

.home-log-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  padding-bottom: 35px;
  a {
    text-decoration: none;
    padding: 15px;
    color: $grey;
    font-size: 14px;
    cursor: pointer;
  }
  a:last-child {
    border: $yellow 1px solid;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation-list {
  display: flex;
  list-style: none;

  li {
    padding-right: 55px;
    font-size: 18px;
    color: $dark-grey;
  }
}

.home-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 674px;
  position: absolute;
  top: 342px;
  left: 951px;
  height: 107px;
  padding-top: 219px;
  h1 {
    font: normal normal normal 38px/55px Open Sans;
    letter-spacing: -0.76px;
    color: $dark-grey;
  }
}

.home-action-buttons {
  display: flex;
  justify-content: space-between;
  width: 674px;
  padding-top: 65px;
  button {
    height: 120px;
    width: 310px;
    text-align: center;
    font: normal normal 300 36px/45px Open Sans;
    background: #00000000 no-repeat padding-box;
    border: 0.75px solid $dark-grey;
    opacity: 1;
    cursor: pointer;
  }
}

.home-columns {
  height: 384px;
  background: url('/src/assets/3 Columns Background.png') no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h2 {

    margin: 10px;
    font: normal normal 300 90px/122px Open Sans;
  }
  h3 {
    font: normal normal normal 18px/30px Open Sans;
  }

  p {
    font: normal normal 300 16px/18px Merriweather;
  }
}

.home-columns-flex {
  display: flex;
  width: 334px;
  height: 252px;
}

.home-columns-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  h3 {
    padding-bottom: 20px;
    position: relative;
  }

  h3::after {
    content: '';
    display: block;
    width: 70px;
    height: 1px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.home-all-about {
  height: 325px;
  background-color: #F0F1F1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-all-about-us {
  h1 {
    padding-top: 55px;
    padding-bottom: 25px;
    font: normal normal normal 38px/55px Open Sans;
    letter-spacing: -0.76px;
  }
}

.home-all-about-decoration {
  padding-bottom: 34px;
}

.home-all-about-icon {
  height: 83px;
  width: 83px;
}

.home-columns-flex-all-about {
  display: flex;
  max-width: 170px;
  height: 172px;
}

.home-all-about-button {
  display: flex;
  justify-content: center;
  padding-top: 65px;
  button {
    height: 120px;
    width: 310px;
    text-align: center;
    font: normal normal 300 36px/45px Open Sans;
    background: #00000000 no-repeat padding-box;
    border: 0.75px solid $dark-grey;
    opacity: 1;
    cursor: pointer;
  }
}

.home-about-us {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.home-about-us-content {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: #F0F1F1;
  justify-content: center;
  align-items: center;
  div {
    width: 657px;
  }

  h1 {
    font: normal normal normal 38px/55px Open Sans;
  }

  p {
    font: normal normal normal 30px/54px Open Sans;
    letter-spacing: -0.6px;
  }
}

.home-about-us-image-container {
  flex: 1;
  position: relative;
}

.home-about-us-image {
  background: url('/src/assets/People.jpg') no-repeat center left;
  background-size: cover;
  height: 935px;
}

.home-about-us-signature {
  position: relative;
  margin-top: 20px;
  left: 230px;
}

.home-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.home-contact-background {
  height: 935px;
  background: url('/src/assets/Background-Contact-Form.jpg') no-repeat top;
  background-size: cover;
  width: 1900px;
  opacity: 10%;
  position: absolute;
  z-index: -1;
}

.home-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 350px;
  left: 1100px;
  width: 528px;
  height: 327px;
  h1 {
    font: normal normal normal 38px/55px Open Sans;
    letter-spacing: -0.76px;
    color: #3C3C3C;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 16px;

  label {
    margin-bottom: 15px;
  }

  .custom-input {
    position: relative;

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #000;
      height: 30px;
      width: 100%;
      box-sizing: border-box;
      &:focus + .custom-placeholder {
        opacity: 0;
      }
    }

    .last-input {
      height: 150px;
    }

    .custom-placeholder {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      white-space: pre-line;
      opacity: 30%;
    }
  }
}


.home-form-contact-info {
  display: flex;
}

.home-contact-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;

  button {
    border: $dark-grey 1px solid;
    outline: none;
    background: none;
    padding: 15px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    color: #3C3C3C;
  }
}

.copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  top: 870px;
  display: flex;
  justify-content: space-between;
  span {
    font-size: 18px;
    color: #3C3C3C;
  }
}

.copyright-social {
    width: 30px;
    height: 30px;
  color: #3C3C3C;
}